@media screen and (max-width: 625px) {
	.nav_item {
    width: 100%;
    
    align-items: center;
    font-size: 15px;
    margin: auto;
	}
}
@media screen and (max-width: 442px) {
	.nav_item {
    width: 100%;
    
    align-items: center;
    font-size: 10px;
    margin: auto;
	}
}
@media screen and  (max-width: 395px) {
	.nav_item {
    width: 100%;
    
    align-items: center;
    font-size: 9px;
    margin: auto;
	}
}
@media screen and  (max-width: 386px) {
	.nav_item {
    width: 100%;
    
    align-items: center;
    font-size: 8px;
    margin: auto;
	}
}
@media screen and  (max-width: 320px) {
	.nav_item {
    width: 100%;
    
    align-items: center;
    font-size: 10px;
    margin: auto;
	}
}

@media screen and (max-width: 625px) {
	.btn {
    
    cursor: pointer;
    border-radius: 5px;
	}
	.content {
	  height: auto;
	  margin: 100px 15px 15px 15px;
	  min-height: 500px;
	}
}

@media screen and (max-width: 625px) {
  .active {
    background-color: #666;
    color: white;
    transition: 0.3s ease-in;
  }
}
@media screen and (max-width: 442px) {
	.btn {
    
    cursor: pointer;
    border-radius: 5px;
	}
	.content {
	  height: auto;
	  margin: 0 10px 10px 10px;
	  min-height: 500px;
	}
}
@media screen and (max-width: 442px) {
  .active {
    background-color: #666;
    color: white;
    transition: 0.3s ease-in;
  }
}
@media screen and (max-width: 386px) {
	.btn {
    
    cursor: pointer;
    border-radius: 5px;

	}
	.content {
	  height: auto;
	  margin: 0 10px 10px 10px;
	  min-height: 500px;
	}
}
@media screen and (max-width: 386px) {
  .active {
    background-color: #666;
    color: white;
    transition: 0.3s ease-in;
  }
}
@media (min-width: 320px) and (max-width: 380px) {
	.btn {
    
    cursor: pointer;
    border-radius: 5px;

	}
	.content {
	  height: auto;
	  margin: 0 5px 5px 5px;
	  min-height: 500px;
	}
}
@media (min-width: 320px) and (max-width: 380px) {
  .active {
    background-color: #666;
    color: white;
    transition: 0.3s ease-in;
  }
}
