@media screen and (max-width: 610px) {
	.nav_item {
    display: list-item;
    border-bottom: 1px solid #E0E0E0;
    width: 100%;
    text-align: right;
	}
}
@media screen and (max-width: 610px) {
.header__menu {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 1em;
  }
}
