@-ms-viewport{
  width: 700px;
}

#overlay-section {
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: auto;

}
.home-inner {
    text-align: center;
    padding: 57px 100px;
    width: auto;
}

.home-title {
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase;
    position: center;
    font-family: 'Ubuntu Condensed', sans-serif;
}
.home-title span {
      color: grey;
}
.home-inner>p {
    color: grey;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 38px;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
}
.profile-img {
    border: 5px solid #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    height: 130px;
    margin: 0 auto;
    width: 140px
}
#container{
    width: 80%;
    height: 500px;
    margin: auto;
    padding: 10px;
    margin-top: 20px;
}
.about-me {
  margin-top: 50px;
}
.inner-left {
    width: 15%;
    height: 200px;
    float: left;


}
.inner-right {
    margin-left: 15%;
    height: 200px;
    font-family: 'Ubuntu Condensed', sans-serif;

}

.inner-right>h3 {
    margin-top: 0px;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase


}
.inner-right>p {
    color: #727272;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 35px;
    font-family: 'PT Sans', sans-serif;
}
ul {
  padding: inherit;
  list-style-type: none;
}
.inner-right ul li{
    border-bottom: 1px;
    color: #727272;
    font-size: inherit;
    margin-bottom: 12px;
    padding-bottom: 12px;
    font-family: 'PT Sans', sans-serif;
}
#resume {
  width: 80%;
  margin: auto;
  padding: 10px;
  margin-top: 100px;
}
.title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 35px;
    text-transform: uppercase;
    font-family: 'Play', sans-serif;

}
.skill-inner {
    display: inline;
    float: left;
    width: 100%;
    margin-top: 50px;
}
.skill-inner p {
    color: #727272;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    font-family: 'PT Sans', sans-serif;
}

.skill-progressbar span{
    color: #727272;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
}
.box {
    background-color: orange;
    border: 1px solid green;
    height: 5%;
    width: 100%;
    margin: 0 0 20px 0;
}
.boxx {
    background-color: orange;
    border: 1px solid green;
    height: 5%;
    width: 80%;
    margin: 0 0 20px 0;
}
.boxxx {
    background-color: orange;
    border: 1px solid green;
    height: 5%;
    width: 60%;
    margin: 0 0 20px 0;
}
#experience {
    width: 80%;
    height: 500px;
    margin: auto;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 600px;
}
.experience-inner {
  margin-top: 50px;
  margin-bottom: 50px;
}
.education {
  width: 80%;
}
.inner-experience {
    color: #727272;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    font-family: 'PT Sans', sans-serif;
}

.visible-child {
    margin-left: auto;
}
.hidden-child{
  display: none;
  margin-left: auto;
}
img.hidden-child {
    width: 200;
    height: 200;
}
.parent:hover > .visible-child {
    display: none;
    position: absolute;
}
.parent:hover > .hidden-child {
    display: flex;
    border-radius: 15px;
}
.hover-effect {
    display: flex;
    justify-content: space-between;
}
.hover-effect>div {
    flex: 1;
}
.parent>p{
    font-size: 50px;
}
.hobbies div {
    -webkit-flex: 1;
    flex: 1;
    margin-top: 20px;
    margin-bottom: 10px;
 }
 #footer {
    width: 80%;
    margin: auto;
    padding: 10px;
 }
 .footer-topinner p{
   color: #727272;
   font-size: 18px;
   line-height: 30px;
   font-weight: 400;
   font-family: 'PT Sans', sans-serif;
 }
 .footer-topinner {
   margin-top: 50px;

 }
 .w3-input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 40%
}
.button {
  padding: 15px 25px;
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: grey
  border: none;
  border-radius: 15px;
}
.button:hover {
  background-color: grey;
}

.button:active {
  background-color: #3e8e41;
}
.textarea {
    width: 40%;
    height: 100px;
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
}
.italics  {
  font-size: 18px;
  text-transform: lowercase;
}
.site {
    text-decoration: none;
}
.headi ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background: #FFA17F;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #00223E, #FFA17F);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #00223E, #FFA17F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.headi li {
    float: right;
}
.headi li a {
    display: block;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
.headi li a:hover:not(.active) {
  background-color: grey;

}

body {
  margin:0;
  width: inherit;
}
.floated_one {
    float: right;
    display: table;
    width: 50%;
    margin-bottom: 30px;
    position: relative;
}
.floated_one h4 {
    font-size: 20px;
    margin: 0px;
    color: #202020;
    font-weight: 500;
}
.floated_one h1{
    font-size: 60px;
    margin: 0px;
    color: #202020;
    font-weight: 500;
}
.floated_one p {
    margin: 0px;
}
.floated_two {
  float: left;
  display: table;
  width: 50%;
  margin-top: 100px;
  position: relative;


}
.floated_two .info_head {
    float: right;
    padding-top: 30px;
}
.floated_two h1 {
    font-size: 60px;
    margin: 0px;
    color: #202020;
    font-weight: 500;
}
.floated_two h4 {
    font-size: 20px;
    margin: 0px;
    color: #202020;
    font-weight: 500;
}
.floated_two p {
    margin-left: 100px;
}
.floated_one ul {
  float: right;
  margin-left: 100px;
  margin-right: 100px;
}
.floated_one img {
  margin-left: auto;
  margin-top: auto;
}
.floated_two ul {
  float: right;
  margin-left: 100px;
}
.vertical-line {
    border-left: 10px solid green;
    height: 50px;
}
.floaterer {
    display: table-cell;
    width: 200px;
    vertical-align: middle;
}
.lagbaja {
    display: table-cell;
}
.info_table {
  width: 100%;
}
.table_info {
  width: 100%;
}
table, td {
    border: 0px solid black;
    border-collapse: collape;
    width: 50%;
    margin: 0;
  }
.info_table h1 {
  float: right;
  font-size: 60px;
  font-weight: 500;
  font-family: 'Ubuntu Condensed', sans-serif;
}
.info_table h4 {
  font-size: 20px;
  text-align: right;
  width: calc(100% - 120px);
  font-family: 'Ubuntu Condensed', sans-serif;
}
.info_table p {
  font-size: 20px;
  text-align:right;
  width: calc(100% - 120px);
  font-family: 'PT Sans', sans-serif;
  color: #727272;
}
.table_info h1 {
  float: left;
  font-size: 60px;
  font-weight: 500;
  margin-right: 15px;
  font-family: 'Ubuntu Condensed', sans-serif;
}
.table_info h4 {
  font-size: 20px;
  font-family: 'Ubuntu Condensed', sans-serif;
}
.table_info p {
  font-size: 20px;
  font-family: 'PT Sans', sans-serif;
  color: #727272;
}
.skills_new {
  display: flex;
  flex-direction: row;
}
.skills_new div {
  margin: auto;
  background-color: inherit;
  text-align: center;
}
.skills_new img {
  width: 150px;
  height: 150px;
  border: 1px solid green;
  border-radius: 50%;
}
.skills_new p {
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'PT Sans', sans-serif;
}
.blakeimage {

  display: flex;
}
.blakeimage img {
  width: 500px;
  height: 300px;
  margin-right: 10%;
  margin-left: 10%;
  opacity: 0.8;

}
.blakeimage p {
  margin:auto;
  font-size: 60px;
  text-transform: capitalize;
  font-family: 'PT Sans', sans-serif;
}
#resume h2 {
  text-align: center;
  font-weight:lighter;
  margin-top: 50px;
}
.funny {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
}
.funny img {
  width: 400px;
  height: 300px;
  opacity: 0.5;
}
.funny div {
  margin: auto;
}
.funnier h4{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: capitalize;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 20px;
}
.funnier {
  text-align: center;
  position: relative;
}
.funnier p {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
}
.headi img {
  width: 100px;
  height: inherit;
  margin-top: 5px;
  margin-left: 10px;
}
.skillset {
  margin-top: 50px;
  margin-bottom: 50px;
}
